.skill-icon {
    color: navy;
	margin:0;
	padding:4px;
	border: 2px solid navy;
	border-radius: .4rem;
	line-height: .9rem;
	width: 100px;
	height: 40px;
    margin: 4px 2px;
	background: #a4b4f9;
    position: absolute;
}

.disabled {
    color: navy;
	margin:0;
	padding:4px;
	border: 2px solid #b3b7e4;
	border-radius: .4rem;
	line-height: .9rem;
	width: 100px;
	height: 40px;
    margin: 4px 2px;
	background: #d4dafc;
    position: absolute;
}

.skill-allocation {
    float: right;
}

.overspend {
    background: red;
}

.button {
    background-color: #a4b4f9;
    width: 2rem;
    height: 1.3rem;
    color: navy;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 16px;
	border-radius: .4rem;
    margin: 4px 2px;
    cursor: pointer;
  }

.disabledBtn {
    opacity: 0.4;
    pointer-events: none;
}

.line {
    position: absolute;
    z-index: -1;
}

.requirement {
    z-index: 2;
    color: navy;
}